body {
    font-family: 'Inter', sans-serif;
    color: #808080;
}

/*Nav Bar*/
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 15px;
}

    .navbar p {
        color: darkslateblue;
        font-size: 30px;
        font-weight: 600;
        padding: 0 auto;
        margin: 0 auto;
    }

.navbar-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

    .navbar-list li {
        display: inline;
        margin-left: 10px;
        text-align: center;
    }

        .navbar-list li:first-child {
            margin-left: 0;
        }

        .navbar-list li a {
            text-decoration: none;
            color: #000;
            font-weight: 500;
            padding: 8px 10px;
            border-bottom: 2px solid transparent;
            transition: border-color 0.3s;
        }

            .navbar-list li a:hover {
                border-color: #ffc107;
                font-weight: 600;
            }


.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; /* Align content at the top */
    height: 100vh;
}

.title {
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 50px;
}

.product-image {
    width: 100px;
    height: 100px;
    object-fit: contain;
}

.price {
    font-size: 16px;
    color: #FF6699;
}

.quantity {
    font-size: 16px;
    color: #808080;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}

.total-price-cell {
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    padding: 10px 0;
}

.empty-cart-message {
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
    color: #888;
}

.checkout-btn {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.footer {
    background-color: lightslategrey;
    color: white;
    padding: 30px;
    text-align: center;
    margin-top: 100px;
}


@media screen and (max-width: 768px) {
    /* Media query for mobile devices */

    .footer {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

        .footer p {
            flex-basis: 50%;
        }

    body, div, span {
        font-family: 'Inter', sans-serif;
        color: #808080;
    }

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start; /* Align content at the top */
        height: 100vh;
    }

    .title {
        font-size: 32px;
        font-weight: bold;
        text-align: center;
        margin-bottom: 50px;
    }

    .product-image {
        width: 100px;
        height: 100px;
        object-fit: contain;
    }

    .price {
        font-size: 16px;
        color: #FF6699;
    }

    .quantity {
        font-size: 16px;
        color: #808080;
    }

    table {
        width: 100%;
        border-collapse: collapse;
    }

    th, td {
        padding: 10px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }

    th {
        background-color: #f2f2f2;
    }

    .total-price-cell {
        text-align: center;
        font-weight: bold;
        font-size: 18px;
        padding: 10px 0;
    }

    .checkout-btn {
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }

    .footer {
        background-color: lightslategrey;
        color: white;
        padding: 30px;
        text-align: center;
        margin-top: 100px;
    }


    @media screen and (max-width: 768px) {
        /* Media query for mobile devices */

        .footer {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }

            .footer p {
                flex-basis: 50%;
            }
    }
}
